<div class="unit-80 mainContent contact">
            <!-- content -->
            <h2>About</h2>
            <dl class="units-row units-split">
                <dt class="unit-20">会社名</dt>
                <dd class="unit-80">ウェイブ株式会社</dd>
                <dt class="unit-20">英語表記</dt>
                <dd class="unit-80">WAYVE, INC.</dd>
                <dt class="unit-20">電話番号</dt>
                <dd class="unit-80">03-5719-7302</dd>
                <dt class="unit-20">FAX番号</dt>
                <dd class="unit-80">03-5719-7303</dd>
                <dt class="unit-20">お問い合わせ先</dt>
                <dd class="unit-80">info@life-is-tech.com</dd>
                <dt class="unit-20">所在地</dt>
                <dd class="unit-80">〒153-0064 東京都目黒区下目黒1-4-4-102</dd>
                <dt class="unit-20">設立</dt>
                <dd class="unit-80">2014年3月20日（平成26年）</dd>
                <dt class="unit-20">資本金</dt>
                <dd class="unit-80">50万円</dd>
                <dt class="unit-20">役員</dt>
                <dd class="unit-80">代表取締役 社長 角南 萌</dd>
                <dt class="unit-20">事業内容</dt>
                <dd class="unit-80">ITサービスの開発<br>「SPARKWALL（スパークウォール）」の企画・運営<br>
                    iPhoneアプリ「見えるプレゼンタイマー」企画・開発・運営</dd>
                <dt class="unit-20">沿革</dt>
                <dd class="unit-80"><a href="http://life-is-tech.com/stars/" target="_blank">Life is Tech ! STARS★</a>の支援を受けています。</dd>
                <dt class="unit-40">
                    代表紹介<br>
                    <img src="/assets/sunami.jpg" width="250"></dt>
                <dd class="unit-60" style="line-height: 2.2;"><br><br>小中学校作品コンクールパソコン部門にて、文部科学大臣奨励賞を受賞。2012 年アプリ甲子園にて「見えるプレゼンタイマー」が優勝し、AppStoreで5万ダウンロードを突破。現在Sparkwall(スパークウォール)という、中学生高校生の授業共有サービスをβ版リリース。</dd>
            </dl>

            <%= link_to "プライバシーポリシー", policy_path %>
        </div>