<!DOCTYPE html>
<html>
<head>
 <title>Sparkwall</title>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="/assets/kube.min.css" />
 <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
 <div class="unit-80 mainContent">
  <header class="headerNav">
   <form action="">
    <%= link_to new_project_path do %> <button><i>+</i>Add new</button><% end %>
    <div class="searchBox">
     <i class="fa fa-search fa-lg"></i>
     <input type="search" placeholder="Title,subject,project type">
    </div>
   </form>
  </header>

  <%= render '/shared/big_grid_view', :project_collection => Project.all.sort_by{:created_at}.reverse %>

 </div>
</body>
</html>

