<!DOCTYPE html>
<html>
  	<head>
    	<title>This is the index page</title>
  	</head>
  	<body>
    	<h1>Main#index</h1>
		<p>Find me in app/views/main/index.html.erb</p>
		
		<%= link_to "log out", destroy_user_session_path, :method => :delete %>

	</body>
</html>