<!DOCTYPE html>
<html>
<head>
 <title>Sparkwall</title>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="/assets/kube.min.css" />
 <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
 <div class="unit-80 mainContent">
  <header class="headerNav">

   <div class="unit-30">
    <h1 class="status">Recent</h1>
   </div>

   <div class="unit-70">
    <% if user_signed_in? %>
    <%= link_to new_project_path do %><button><i>+</i>Add new</button><% end %>
    <% end %>

    <div class="searchBox">
     <!--input type="search" placeholder="Title,subject,project type"-->
     <%= form_tag("/projects/search", method: "get") do %>
     <i class="fa fa-search fa-lg"></i>
     <%= text_field_tag(:query, "", placeholder: "Title, subject, project type") %>
     <% end %>
    </div>
   </div>

  </header>

  <%= render '/shared/big_grid_view', :project_collection => Project.all.sort_by{:created_at}.reverse %>

 </div>
</body>
</html>

