<div class="unit-80 mainContent">

	<h2> Privacy Policy </h2>

	<p>Sparkwallでは、、皆様に個人情報の提供を求める事があります。Sparkwallでは、ご提供いただいた個人情報に関して、この「プライバシー・ポリシー」を遵守し、個人情報を提供して頂いた全ての方が安心して頂けるように個人情報の取り扱いについて十分以上の注意を払っております。</p>

	<p><b>1.個人情報取得手段について</b><br>
	Sparkwallはお客様より直接個人情報を提供して頂くという正規の手段以外で個人情報を取得することはありません。</p>

	<p><b>2.個人情報取得時について</b><br>
	Sparkwallはお客様より個人情報を提供して頂く際に、個人情報の使用目的を説明し、合意が得られた後に提供する手続きを実施します。</p>

	<p><b>3.個人情報使用について</b><br>
	Sparkwallは提供して頂いた個人情報を、合意して頂いた目的以外に使用する事は決してありません。<br>

	<p><b>4.提供して頂いた個人情報の第三者譲渡について</b><br>
	同意がない状態で第三者に個人情報を譲渡する事は原則ありません。</p>

	<p><b>5.個人情報委託について</b><br>
	個人情報の委託につきましては、委託する第三者については個人情報を安全に管理することを厳選に調査して定めます。コンサルティング、プライバシーマーク申請、ISMS申請業務におきまして、第三者と共同して業務を遂行する場合に個人情報の取り扱いを委託する場合があります。</p>

	<p><b>6.安全管理の向上について</b><br>
	個人情報が安全に管理され、提供者の皆様が安心出来るよう、“個人情報管理責任者”を立て、日々セキュリティーの向上を努めます。</p>

	<p><b>7.個人情報の照会・変更・削除について</b><br>
	ご自身の個人情報に関し、その照会・変更・削除を請求されました時は、ご本人確認が確認され次第実行致します。
	もしご自身の個人情報に関し照会・変更・削除がある場合、お手数をおかけしますが、info@life-is-tech.com　までご連絡下さい。</p>

	<p><b>8.当プライバシーポリシーの変更について</b><br>
	当プライバシーポリシーは変更される事があります。ライフイズテックが別途定める場合を除き、ホームページ上に掲載されて効力を発揮するものとします。</p>

</div>