<!DOCTYPE html>

<html>
  	<head>
    	<title>SPARKTIVE</title>
  	</head>
  	<body>
  		<div id="container">
	    	<h1>Sparkwall</h1>	
	    	<div id = "links">	
				<span><%= link_to "sign in", new_user_session_path, :method => :get %></span>
				<span><%= link_to "sign up", new_user_registration_path, :method => :get %></span>
			</div>
		</div>
	</body>
</html>