

<div class="unit-80 mainContent">
    <!-- content -->

    <%= render 'user_header' %>

    <%= render '/shared/big_grid_view', :project_collection => @user.projects.sort_by{:created_at}.reverse %>

</div>