 <% if user_signed_in? %>
	<div id="like_form_<%= project.id %>">
	  <% if current_user.likes_project?(project) %>
	    <%= render '/projects/unlike', project: project %>
	  <% else %>
	    <%= render '/projects/like', project: project %>
	  <% end %>
	</div>
<% end %>