<%= form_for(current_user.likes.build(project_id: project.id), remote: true) do |f| %>
	<div>
		<%= f.hidden_field :project_id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>

  	<button type="submit" class="like">
  		<i class="fa fa-thumbs-o-up fa-2x"></i> 
  	</button>

<% end %>